@layer system {
  :root {
    --theme-page--spacing-x: var(--spacing-4);
    --theme-page--spacing-y: 80px;
    --theme-page--bg: var(--palette-neutral-bg);
    --theme-page--text-color: var(--palette-neutral-text);
    --theme-page--text-color--muted: var(--palette-neutral-text-muted);
    --theme-page--text-color--code: var(--palette-code-text);
    --theme-page--text-bg--code: var(--palette-code-bg-bright);

    --theme-link--text-color: var(--palette-link-text-bright);

    --theme-card--bg: var(--palette-neutral-bg-bright);
    --theme-card--radius: var(--radius-lg);

    --theme-glass--bg-light: rgb(
      from var(--palette-neutral-bg-bright) r g b / 0.75
    );
    --theme-glass--bg-dark: linear-gradient(to right, crimson, indigo);
    --theme-glass--bg: var(--theme-glass--bg-light);
    --theme-glass--blur: var(--blur-lg);
    --theme-glass--shadow:
      0 2px 2px -1px rgb(from black r g b / 0.05),
      0 4px 8px rgb(from black r g b / 0.05),
      0 10px 20px rgb(from black r g b / 0.05),
      0 0 10px rgb(from white r g b / 0.1) inset;

    --theme-nav--text-color: var(--palette-primary-text);
  }
}
