@layer base {
  :root {
    font-family: var(--font-sans);
    color-scheme: light dark;
  }

  a {
    color: light-dark(var(--color-sky-700), var(--color-sky-300));
    text-decoration: none;
  }

  p {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }

  main {
    :first-child {
      margin-top: 0;
    }
  }
}
